<div class="c-type-ahead{{#if typeAheadModifierClass}}--{{typeAheadModifierClass}}{{/if}}{{#if typeAheadClass}} {{typeAheadClass}}{{/if}}" data-css="c-type-ahead">
	<ul class="type-ahead__list" data-js-atom="type-ahead-list">

	</ul>
</div>