.form__select {
	@include prefix(user-select, none);

	display: inline-block;
	vertical-align: middle;
	position: relative;
	text-align: left;
	z-index: 100;
	width: 100%;
	max-width: 500px;

	&:focus {
		outline: 1px dotted; /* For better accessibility add a style for this in your skin */
	}

	/*
	Hide standard form
	----------------------- */
	select {
		position: absolute;
		top: 0;
		opacity: 0;
		z-index: -1;
	}

	span {
		display: block;
		position: relative;
		cursor: pointer;
		padding: 1em;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
	}

	/*
	Placeholder
	----------------------- */
	.form__select-placeholder {
		height: 60px;
		padding: 0 3em 0 1em;
		line-height: 60px;
		z-index: 1;
	}

	.form__select-placeholder::after,
	.is-selected span::after {
		@include prefix(transform, translateY(-50%));

		speak: none;
		position: absolute;
		top: 50%;

		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale;
	}

	.form__select-placeholder::after {
	}

	/*
	States
	----------------------- */
	.is-selected span::after {
	}

	&.is-active {
		z-index: 200;

		> span::after {
			@include prefix(transform, translateY(-50%) rotate(180deg));
		}

		.form__select-placeholder::after {
		}
	}

	/*
	Option List
	----------------------- */
	.form__select-options {
		position: absolute;
		overflow: hidden;
		width: 100%;
		background: #999;
		visibility: hidden;
		z-index: 201;
	}

	&.is-active .form__select-options {
		visibility: visible;
	}

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
		width: 100%;

		span {
			padding: 1em;
		}

		.is-focus span {
			background-color: #ddd;
		}

		.form__select-optgroup ul {
			padding-left: 1em;

			> span {
				cursor: default;
			}
		}
	}
}