<button class="overlay__close" data-js-atom="overlay-close"></button>
<ui-carousel class="m-carousel--overlay" data-css="m-carousel" id="carousel-overlay-fullscreen">
	<div class="carousel__list" data-js-atom="carousel-list">
		{{#each buttons}}
			<div class="carousel__list-item" data-js-atom="carousel-list-item">
				<div class="carousel__content-wrapper">
					<div class="overlay__figure">
						<img src="{{data.options.url}}" alt=""/>
					</div>
					<div class="overlay__dates">
						{{#if data.options.caption}}
							<em class="overlay__dates-caption">
								{{data.options.caption}}
							</em>
						{{/if}}
						{{#if data.options.author}}
							<em class="overlay__dates-author">
								{{data.options.author}}
							</em>
						{{/if}}
					</div>
				</div>
			</div>
		{{/each}}
	</div>
	<div class="carousel__pagination" data-js-atom="pagination" data-js-ref="#carousel-overlay-fullscreen">
		<div class="carousel__pagination-wrapper">
			<ul class="carousel__pagination-list" data-js-atom="pagination-list">
				<li class="carousel__pagination-item" data-js-atom="pagination-list-item"></li>
			</ul>
		</div>
		<button class="carousel__pagination-prev" data-js-atom="pagination-prev"><span
				class="carousel__pagination-icon">Previous</span></button>
		<button class="carousel__pagination-next" data-js-atom="pagination-next"><span
				class="carousel__pagination-icon">Next</span></button>
	</div>
</ui-carousel>