<button class="overlay__close" data-js-atom="overlay-close"></button>
<div class="overlay__content-wrapper">
	<div class="overlay__inner">
		{{#xif " this.type == 'figure' " }}
			<div class="overlay__figure">
				<img src="{{url}}" alt=""/>
			</div>
			<div class="overlay__dates">
				{{#if caption}}
					<em class="overlay__dates-caption">
						{{caption}}
					</em>
				{{/if}}
				{{#if author}}
					<em class="overlay__dates-author">
						{{author}}
					</em>
				{{/if}}
			</div>
		{{/xif}}

		{{#xif " this.type == 'content' " }}
			<iframe class="overlay__iframe" src="{{url}}"></iframe>
		{{/xif}}
	</div>
</div>