---
component: Carousel
---

<ui-carousel data-js-module="carousel" class="m-carousel{{#if blocks.content.hash.modifier}}--{{blocks.content.hash.modifier}}{{/if}}" id="{{blocks.content.hash.id}}" data-css="m-carousel" data-js-options="{{blocks.content.hash.options}}">

	<div class="carousel__list" data-js-atom="carousel-list">
		{{#block "content"}}{{/block}}
	</div>

	{{#if blocks.content.hash.pagination}}
		{{> m-carousel__pagination}}
	{{/if}}
</ui-carousel>
