<ui-overlay class="m-overlay" data-css="m-overlay">
	<div class="overlay__wrapper">
		<div class="spinner" data-js-atom="spinner">
			<div class="spinner-db1"></div>
			<div class="spinner-db2"></div>
		</div>
	</div>
	<div class="overlay__mask"></div>
</ui-overlay>