<button class="overlay__close" data-js-atom="overlay-close"></button>

<div class="overlay__content-wrapper">
	<div class="overlay__inner">
		<% if (type == "figure") { %>
			<div class="overlay__figure">
				<img src="<%= url %>" alt=""/>
			</div>
			<div class="overlay__dates">
				<% if (caption) { %>
					<em class="overlay__dates-caption">
						<%= caption %>
					</em>
				<% } %>
				<% if (author) { %>
					<em class="overlay__dates-author">
						<%= author %>
					</em>
				<% } %>
			</div>
		<% } %>
	</div>
</div>