<div class="carousel__controls">
	<div class="carousel__pagination" data-js-atom="pagination" data-js-ref="#{{blocks.content.hash.id}}">
		<ul class="carousel__pagination-list" data-js-atom="pagination-list">
			<li class="carousel__pagination-item" data-js-atom="pagination-list-item"></li>
		</ul>
	</div>
	<div class="carousel__navigation">
		<button class="carousel__navigation-prev" data-js-atom="navigation-prev">
			<span class="carousel__navigation-icon">Previous</span>
		</button>
		<button class="carousel__navigation-next" data-js-atom="navigation-next">
			<span
				class="carousel__navigation-icon">Next
			</span>
		</button>
	</div>
</div>