<div class="carousel__pagination" data-js-atom="pagination" data-js-ref="#{{blocks.content.hash.id}}">
	<div class="carousel__pagination-wrapper">
		<ul class="carousel__pagination-list" data-js-atom="pagination-list">
			<li class="carousel__pagination-item" data-js-atom="pagination-list-item"></li>
		</ul>
	</div>
	<button class="carousel__pagination-prev" data-js-atom="pagination-prev"><span class="carousel__pagination-icon">Previous</span></button>
	<button class="carousel__pagination-next" data-js-atom="pagination-next"><span class="carousel__pagination-icon">Next</span></button>
</div>