<li class="results-list__item">
	<article class="c-article--search-results" data-css="c-article">
		<a href="{{link}}" class="article__wrapper-link">
			<div class="article__header">
				<small class="article__small-headline">{{topline}}</small>
				<h3 class="article__headline">{{headline}}</h3>
			</div>
			<div class="article__footer">
				<div class="article__cta">
					<span class="article__cta-button"></span>
				</div>
			</div>
		</a>
	</article>
</li>